.hero 
	.container 
		.row
			.hero__img.col-md-4 
				img(src="./assets/img/profile_pic.jpg", alt="profile")
			.hero__desc.col 
				h1.hero__desc__name Sayudha Lukita Wibisana_ 
				p frontend developer, UI Designer 
				.hero__desc__detail 
					table.table.table-responsive
						tr 
							td Age: 
							td 32
						tr 
							td Phone: 
							td +62 822-1610-5453
						tr 
							td Email:
							td mazaya.dev@gmail.com
						tr 
							td Address:
							td Komp. Bumi Panyileukan Blok C8 No.10
				.hero__desc__icon.d-flex
					a(href="#") 
						img(src="./assets/img/github.png", alt="github", width='40', height='40')
					a(href="#")
						img(src="./assets/img/linkedin.png", alt="linkedin", width='40', height='40')
					a(href="#") 
						img(src="./assets/img/instagram.png", alt="instagram", width='40', height='40')