.intro.py-5.border-bottom
	.container
		.row 
			h1.py-5.mb-0 Hi_ 
			.intro__desc.col-md-8
				p I am experienced Web Developer able to build a Web prescence from the ground up - from concept, navigation, layout and programming to UX. Skilled at writing well-designed, testable, and efficient code using current best pracitce in Web Development. Fast learner, hard worker, and team player who is proficient in an array of scripting languages and multimedia Web tools.
				a.btn.btn-primary.mt-3(href='#') Download CV