.hero__desc.col.pb-3
	h1.hero__desc__name.color-white Sayudha L Wibisana_ 
	p Frontend Developer, UI Designer 
	.hero__desc__detail 
		table.table.table-responsive
			tr 
				td.ps-0 Age
				td.ps-0 :
				td.ps-0 32
			tr 
				td.ps-0 Phone
				td.ps-0 :
				td.ps-0 +62 822-1610-5453
			tr 
				td.ps-0 Email
				td.ps-0 :
				td.ps-0 mazaya.dev@gmail.com
			tr 
				td.ps-0 Address
				td.ps-0 :
				td.ps-0 Komp. Bumi Panyileukan Blok C8 No.10
	.hero__desc__icon.d-flex
		a(href="#", class="pe-3") 
			img(src="./assets/img/github.svg", alt="github", width='30', height='30')
		a(href="#", class="pe-3")
			img(src="./assets/img/linkedin.svg", alt="linkedin", width='30', height='30')
		a(href="#", class="pe-3")
			img(src="./assets/img/instagram.svg", alt="instagram", width='30', height='30')