doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sayudha Dev
		link(rel="stylesheet", href="./index.css")
	body
		main 
			include sections/1-index/1-hero/hero.pug
			include sections/1-index/2-intro/intro.pug
			include sections/1-index/3-resume/resume.pug
			.projects.py-5.border-bottom 
				.container 
					h1.pb-5.mb-0 My Projects_ 
					.row
						.container 
							.row
								.col-md-4 
									img(src="#", alt="")
								.col-md-8 
									h2 Defence Science and Technology Agency
		script(src="./index.js") 