doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Sayudha Dev
		link(rel="stylesheet", href="./index.css")
	body
		main 
			include sections/1-index/1-hero/hero.pug
			include sections/1-index/2-intro/intro.pug
			include sections/1-index/3-resume/resume.pug
			.projects.py-5.border-bottom 
				.container 
					h1.pb-5.mb-0 My Projects_ 
					.row
						.container 
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/DSTA.png", alt="DSTA", width= '400', height= '300')
								.col-md-8 
									h2 Defence Science and Technology Agency
									p The Defence Science and Technology Agency (DSTA) is a top-notch technology organisation that drives innovation and delivers state-of-the-art capabilities to make the Singapore Armed Forces a formidable fighting force.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML 
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
									a(href="//www.dsta.gov.sg/home", target='blank').float-end https://www.dsta.gov.sg
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/SDTS.png", alt="Techsummit", width= '400', height= '300')
								.col-md-8 
									h2 Singapore Defence Technology Summit 
									p The Singapore Defence Technology Summit (Tech Summit) is a unique gathering of global thought leaders from government, industry, academia, and think tanks, to network, confer, and collaborate in the development of defence and security capabilities.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML 
										li.py-1.px-2.me-3.my-3.border PUG
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery
									a(href="//www.techsummit.sg/", target='blank').float-end https://www.techsummit.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/PSD.png", alt="PSD", width= '400', height= '300')
								.col-md-8 
									h2 Public Service Division 
									p The Singapore Public Service Division owned by Singapore Government for public services 
									div Used Stack:
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML 
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
									a(href="//www.psd.gov.sg/", target='blank').float-end https://www.psd.gov.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/NHB.png", alt="NHB", width= '400', height= '300')
								.col-md-8 
									h2 National Heritage Board 
									p The National Heritage Board (NHB) is the custodian of Singapore's heritage. We are responsible for telling the Singapore story, sharing the Singaporean experience and imparting our Singapore spirit.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
									a(href="//www.nhb.gov.sg/", target='blank').float-end https://www.nhb.gov.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/MCI.png", alt="MCI", width= '400', height= '300')
								.col-md-8 
									h2 Ministry of Communication and Information 
									p The Ministry of Communications and Information (MCI) oversees the development of the infocomm technology, cyber security, and media sectors; the national library, national archives and public libraries; as well as Government's information and public communication policies. MCI's mission is to Engage Hearts and Minds, A Thriving Digital Future for All.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
									a(href="//www.mci.gov.sg/", target='blank').float-end https://www.mci.gov.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/PA.png", alt="PA", width= '400', height= '300')
								.col-md-8 
									h2 People's Association 
									p PA offers a wide range of programmes to cater to Singaporeans from all walks of life - connecting people to people, and people and government. We do this through our network of over 2,000 grassroots organisations (GROs), over 100 Community Clubs, five Community Development Councils, National Community Leadership Institute and PAssion WaVe.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
									a(href="//www.pa.gov.sg/", target='blank').float-end https://www.pa.gov.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="/assets/img/CEA.png", alt="cea", width= '400', height= '300')
								.col-md-8 
									h2 Council for Estate Agencies
									p Established under the Estate Agents Act, CEA is empowered to administer the regulatory framework for the real estate agency industry. In addition, CEA is committed to raise the professionalism of the real estate agency industry through collaborative efforts with the industry on professional development programmes and protect the interests of the consumers through targeted public education schemes.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
										li.py-1.px-2.me-3.my-3.border VueJS
									a(href="//www.cea.gov.sg/", target='blank').float-end https://www.cea.gov.sg/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/MW.png", alt="MW", width= '400', height= '300')
								.col-md-8 
									h2 Manchester Warehouse 
									p Manchester Warehouse is a family owned and operated business. It have been involved in the manchester industry for over 60 years beginning in manufacturing, then wholesale and since 1999 in retail.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
										li.py-1.px-2.me-3.my-3.border Liquid 
										li.py-1.px-2.me-3.my-3.border Shopify
									a(href="//www.manchesterwarehouse.com.au/").float-end https://www.manchesterwarehouse.com.au/
							.projects__row.row.mb-3.py-3.align-items-center
								.col-md-4 
									img(src="./assets/img/BLC.png", alt="BLC", width= '400', height= '300')
								.col-md-8 
									h2 The Bedlinen 
									p Ongoing project that this is a sister company of Manchester Warehouse.
									div Used Stack: 
									ul.d-flex.flex-wrap 
										li.py-1.px-2.me-3.my-3.border HTML
										li.py-1.px-2.me-3.my-3.border PUG 
										li.py-1.px-2.me-3.my-3.border CSS 
										li.py-1.px-2.me-3.my-3.border SCSS 
										li.py-1.px-2.me-3.my-3.border Javascript 
										li.py-1.px-2.me-3.my-3.border JQuery 
										li.py-1.px-2.me-3.my-3.border Liquid 
										li.py-1.px-2.me-3.my-3.border Shopify
									a(href="#").float-end Ongoing Project
			.contact.py-5 
				.container 
					h1 Get in touch_ 
					.row 
						
		script(src="./index.js") 