.resume.py-5.border-bottom 
	.container 
		h1.pb-5.mb-0 Resume_ 
		.row
			.col-md-6
				h2.h6.mb-4.space-small EDUCATION
				.resume__tl.ps-3.mb-5
					p.resume__tl--aligning.font-mono.color-primary.mb-0 Universitas Islam Negeri Sunan Gunung Djati
					span.text-small 2008 - 2013
					p Bachelor of Electrical Engineering

			.col-md-6
				h2.h6.mb-4.space-small EMPLOYMENT 
				.resume__tl.ps-3
					p.resume__tl--aligning.font-mono.color-primary.mb-0 PT. Krafthaus Indonesia 
					span.text-small 2021 - Present 
					p.mb-0 Front End Developer 
				.resume__tl.ps-3.pt-5
					p.resume__tl--aligning.font-mono.color-primary.mb-0 PT. Xtremax Indonesia 
					span.text-small 2019 - 2021
					p.mb-0 Front End Developer 
				.resume__tl.ps-3.pt-5
					p.resume__tl--aligning.font-mono.color-primary.mb-0 PT. Jabil Circuit 
					span.text-small 2016 - 2018
					p.mb-0 Maintenance Supervisor 
				.resume__tl.ps-3.pt-5
					p.resume__tl--aligning.font-mono.color-primary.mb-0 PT. Net Mediatama Televisi 
					span.text-small 2015 - 2016
					p.mb-0 Mechanical, Electrical, Plumbing Engineer 
				.resume__tl.ps-3.pt-5
					p.resume__tl--aligning.font-mono.color-primary.mb-0 PT. Philip Morris 
					span.text-small 2014 - 2015
					p.mb-0 Production Technician

		.row.mt-5
			h2.h6.mb-4 GENERAL SKILLS 
			.resume__skills.row
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 HTML 5 - 100%
					.progress 
						.progress-bar(role='progressbar', style='width: 100%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 CSS 3 - 95%
					.progress 
						.progress-bar(role='progressbar', style='width: 95%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 JAVASCRIPT - 90%
					.progress 
						.progress-bar(role='progressbar', style='width: 90%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 PUG - 85%
					.progress 
						.progress-bar(role='progressbar', style='width: 85%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 SHOPIFY LIQUID - 65%
					.progress 
						.progress-bar(role='progressbar', style='width: 65%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 SCSS - 85%
					.progress 
						.progress-bar(role='progressbar', style='width: 85%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 BOOTSTRAP - 85%
					.progress 
						.progress-bar(role='progressbar', style='width: 85%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 JQUERY - 75%
					.progress 
						.progress-bar(role='progressbar', style='width: 75%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 VUE JS - 65%
					.progress 
						.progress-bar(role='progressbar', style='width: 65%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 REACT JS - 65%
					.progress 
						.progress-bar(role='progressbar', style='width: 65%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 WEBPACK - 70%
					.progress 
						.progress-bar(role='progressbar', style='width: 70%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 PHP - 65%
					.progress 
						.progress-bar(role='progressbar', style='width: 65%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 WORDPRESS - 75%
					.progress 
						.progress-bar(role='progressbar', style='width: 75%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 POSTGRESQL - 50%
					.progress 
						.progress-bar(role='progressbar', style='width: 50%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 MONGODB - 50%
					.progress 
						.progress-bar(role='progressbar', style='width: 50%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
				.col-md-6.mb-3
					span.text-small.d-inline-block.mb-1 NODE JS - 45%
					.progress 
						.progress-bar(role='progressbar', style='width: 45%;', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')