@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Mono', monospace;
	line-height: 1.3;
}
p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
}
ul {
	margin-bottom: 0;
	padding-left: 0;
	> li {
		list-style: none;
		text-transform: capitalize;
	}
}

td {
	font-family: 'Roboto Mono', monospace;
	border: none;
	color: white;
}
