@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Roboto+Mono:wght@300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-family: 'Roboto Mono', monospace;
	line-height: 1.3;
	color: $color-grey;
}
span {
	font-family: 'Roboto Mono', monospace;
	font-size: 1rem;
	color: $color-grey;
}
p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.8;
	font-size: 1rem;
	color: $color-grey;
}
ul {
	margin-bottom: 0;
	padding-left: 0;
	> li {
		list-style: none;
		text-transform: capitalize;
	}
}

td {
	font-family: 'Roboto Mono', monospace;
	border: none;
	color: white;
}

.font-mono {
	font-family: 'Roboto-Mono', monospace;
}
.space-small {
	letter-spacing: 5px;
}
.text-small {
	font-size: 12px;
	font-family: 'Inconsolata', monospace;
}